.pos-grid md-card-content {
    margin: -16px;
    overflow-y: scroll;
}
.pos-item {
    border-left: solid 1px #EEE;
    border-bottom:solid 1px #EEE;
    margin-right: -1px;
    height:120px;
}

.pos-item:nth-child(4n-4) {  /* or 4n+1 */
    margin-right: 0px;
    border-right: solid 1px #EEE;
}

.pos-item:nth-child(-n+4){
    border-top:solid 1px #EEE;
}

.pos-item:last-child {
    border-right: solid 1px #EEE;
}
