<?xml version="1.0" encoding="UTF-8"?>
<application>
    <name>Media Manager V2</name>
    <namespace>media-managerv2</namespace>
    <version>1.0</version>
    <author>Tiny Skillz</author>
    <description></description>
    <language>/language</language>
    <main>media-manager.php</main>
</application>
